* {
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: auto;
}

.home_background {
    width: 600px;
    height: 400px;
    display: block;
    margin: 36px auto auto;
}

.admin-login-button {
    padding: 16px;
    width: 180px;
    border-radius: 5px;
    background: #C4E7D4;
    color: #343434;
    text-align: center;
    text-decoration: none;
}

.user-login-button {
    padding: 16px;
    width: 180px;
    border-radius: 5px;
    background: #63585E;
    text-align: center;
    color: #C4E7D4;
    text-decoration: none;
}

.app-header {
    background: #998DA0;
    color: #FFFFFF;
    padding: 16px 0;
}

.app-header-content {
    display: flex;
    align-items: center;
}

.app-header-content .logo-and-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-header-content .logo-and-name img {
    width: 64px;
    height: 64px;
}

.app-header-content .logo-and-name p {
    margin-right: 16px;
    font-size: 20px;
    font-weight: bold;
}

.login-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.user-info-form {
    width: 350px;
}

.user-info-form input {
    width: 100%;
    background: #EEEEEE;
    color: #2B2B2B;
    padding: 16px 8px;
    border: 0;
    border-radius: 5px;
    display: block;
    margin-bottom: 24px;
    font-size: 16px;
    box-sizing: border-box;
}

.user-info-form button {
    background: #02C39A;
    border: 0;
    width: 140px;
    border-radius: 120px;
    color: #FFFFFF;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
}

.user-info-form button.disabled {
    background: #DDD;
    color: #777;
}

@media only screen and (max-width: 768px) {
    .user-info-form {
        width: 100%;
    }
}

.button-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
    border-bottom: #02C39A 1px solid;
    margin-bottom: 24px;
}

.button-tabs a {
    background: #00A896;
    border: 0;
    width: 120px;
    border-radius: 120px;
    color: #FFFFFF;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    margin: 6px;
    text-decoration: none;
    text-align: center;
}

.button-tabs a.active {
    background: #05668D;
    color: #FFFFFF;
}