@-webkit-keyframes initial-loading {
    0%, 100% {
        -webkit-transform: translate(-34px, 0);
        transform: translate(-34px, 0);
    }
    50% {
        -webkit-transform: translate(96px, 0);
        transform: translate(96px, 0);
    }
}

@keyframes initial-loading {
    0%, 100% {
        -webkit-transform: translate(-34px, 0);
        transform: translate(-34px, 0);
    }
    50% {
        -webkit-transform: translate(96px, 0);
        transform: translate(96px, 0);
    }
}
.initial-load-animation {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}
.initial-load-animation .loading-bar {
    width: 130px;
    height: 2px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #cfcfcf;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    transition: -webkit-transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .3s ease-in;
}
.initial-load-animation .loading-bar .blue-bar {
    height: 100%;
    width: 68px;
    position: absolute;
    -webkit-transform: translate(-34px, 0);
    transform: translate(-34px, 0);
    background-color: #00A896;
    border-radius: 2px;
    -webkit-animation: initial-loading 1.5s infinite ease;
    animation: initial-loading 1.5s infinite ease;
}
.initial-load-animation.fade-load .loading-bar {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
}
